
{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}Home{% endblock %}
            - {% translate "Stat466" %}
        </title>
        <link href="{% static "core/css/bootstrap.css" %}" rel="stylesheet">
        <link href="{% static "core/css/style.css" %}" rel="stylesheet">
    </head>
    <body>
    <nav class="navbar navbar-expand-lg bg-primary navbar-dark d-print-none">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'core.index' %}">
                {% translate 'Stat466' %}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form method="post" action="{% url 'set_language' %}" id="lang_form">
                {% csrf_token %}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                           href="{% url 'core.index' %}">
                            {% translate 'Home' %}
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {% translate 'Leagues of 2 Players' %}
                        </a>
                        <ul class="dropdown-menu">
                            {% for league in list_leagues_of_2p %}
                                <li><a class="dropdown-item" href="{% url 'core.league_2p_years' league_id=league.id %}">
                                        {{ league.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {% translate 'Leagues of 3 Players' %}
                        </a>
                        <ul class="dropdown-menu">
                            {% for league in list_leagues_of_3p %}
                                <li><a class="dropdown-item" href="{% url 'core.league_3p_years' league_id=league.id %}">
                                        {{ league.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {% translate 'Leagues of 4 Players' %}
                        </a>
                        <ul class="dropdown-menu">
                            {% for league in list_leagues_of_4p %}
                                <li><a class="dropdown-item" href="{% url 'core.league_4p_years' league_id=league.id %}">
                                        {{ league.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {% translate 'Language' %}
                        </a>
                        <ul class="dropdown-menu">
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                            <li><a class="dropdown-item lang-sel-item{% if language.code == LANGUAGE_CODE %} active{% endif %}"
                                   id="{{ language.code }}" href="#" onclick="submitLangForm({{ language.code }}); return false;">
                                    {{ language.name_local }}</a></li>
                            {% endfor %}
                            <input id="lang-sel-hidden"
                               name="language" type="hidden"
                               value="{{ LANGUAGE_CODE }}"/>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank"
                           href="{% url 'admin:index' %}">
                            {% translate 'Admin' %}
                        </a>
                    </li>
                </ul>
                </form>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 order-lg-0 order-sm-1 d-print-none">
                <br>
                <div class="container">
                    <img src="{% static 'core/images/cards_herz.jpg' %}" class="img-fluid">
                </div>
                <div class="container">
                    <img src="{% static 'core/images/cards_pik.jpg' %}" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-8 order-lg-1 order-sm-0">
                <div class="container main-content">
                    <div class="row">
                        <div class="col-md-8">
                            <nav aria-label="breadcrumb" class="d-print-none">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'core.index' %}">
                                            {% translate 'Home' %}
                                        </a>
                                    </li>
                                    {% block breadcrumb %}{% endblock %}
                                </ol>
                            </nav>
                        </div>
                        <div class="col-md-4">
                            <nav aria-label="breadcrumb" class="d-print-none">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="#" onclick="window.print(); return false;">
                                            {% translate 'Print' %}
                                        </a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">
                                        <input type="checkbox" name="print-canvas" id="print-canvas">
                                        <label for="print-canvas">{% translate 'Graphs' %}</label>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">
                                        <input type="checkbox" name="print-players" id="print-players">
                                        <label for="print-players">{% translate 'Players' %}</label>
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>


                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-info" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% block content %}{% endblock %}
                </div>
            </div>
            <div class="col-lg-2 order-lg-2 order-sm-2 d-print-none">
                <br>
                <div class="container">
                    <img src="{% static 'core/images/cards_kreuz.jpg' %}" class="img-fluid">
                </div>
                <div class="container">
                    <img src="{% static 'core/images/cards_karo.jpg' %}" class="img-fluid">
                </div>
            </div>
        </div>
    </div>


    <script src="{% static "core/js/bootstrap.bundle.js" %}"></script>
    {% block script %}{% endblock %}
    <script>
        function submitLangForm(lang) {
            let form = document.getElementById("lang_form");
            let lang_sel = document.getElementById("lang-sel-hidden");
            lang_sel.value = lang.id;
            form.submit();
        }
        window.addEventListener("beforeprint", (event) => {
            const print_canvas = document.getElementById("print-canvas");
            if (print_canvas != null && print_canvas.checked === false) {
                const graphs = document.getElementsByClassName("graph-canvas");
                for (const graph of graphs) {
                    graph.style.display = "none";
                }
            }
            const print_players = document.getElementById("print-players");
            if (print_players != null && print_players.checked === false) {
                const players = document.getElementsByClassName("players-overview");
                for (const player of players) {
                    player.style.display = "none";
                }
            }
        });
        window.addEventListener("afterprint", (event) => {
            const graphs = document.getElementsByClassName("graph-canvas");
            for (const graph of graphs) {
                graph.style.display = "block";
            }
            const players = document.getElementsByClassName("players-overview");
            for (const player of players) {
                player.style.display = "flex";
            }
        });
    </script>
    </body>
</html>