


{% load i18n %}
{% load humanize %}
<div class="row">
    {% for player in players %}
        {% with player.0.get_extended as extended %}
            <div class="col-md-3">
                <div class="card border-primary">
                    <img src="{{ extended.get_image }}"
                        class="card-img-top">
                    <div class="card-header text-bg-success">
                        {{ player.0 }}
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item medal">
                            {% if player.1.2 == 1 %}
                                🥇🏆
                            {% elif player.1.2 == 2 %}
                                🥈
                            {% elif player.1.2 == 3 %}
                                🥉
                            {% endif %}
                        </li>
                        <li class="list-group-item">
                            {% translate 'Rank' %}:
                            {{ player.1.2|ordinal }}
                        </li>
                        <li class="list-group-item">
                            {% translate 'Points' %}:
                            {{ player.1.1 }}
                        </li>
                        <li class="list-group-item">
                            {{ str_num_won }}:
                            {{ player.2 }}
                        </li>
                    </ul>
                </div>
            </div>
        {% endwith %}
    {% endfor %}
</div>