{% extends "core/base.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% block title %}{{ league.title }} - {% translate 'League of 3 Players' %}{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">
    {% translate 'League of 3 Players' %}
</li>
<li class="breadcrumb-item active" aria-current="page">
    {{ league.title }}
</li>
{% endblock %}
{% block content %}
    <h1>{{ league.title }}</h1>
    <p>{% translate 'League of 3 Players' %}</p>

    <ul>
        <li>
            {% translate 'Played Games' %}: {{ statistic.num_games }}
        </li>
        <li>
            {% translate 'Results' %}: {{ statistic.num_results }}
        </li>
        <li>
            {% translate 'Average Games per Result' %}: {{ statistic.avg_games_per_result }}
        </li>
    </ul>

    {% translate 'Won years' as won_years %}
    {% with str_num_won=won_years %}
    {% include 'core/league_3p_players.html' %}
    {% endwith %}

    {% if year_statistic %}
    <h2 class="spacer">{% translate 'Statistic' %}</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>{% translate 'Year' %}</th>
                <th class="text-center">{% translate '# Results' %}</th>
                <th class="text-center">{% translate '# Games' %}</th>
                <th class="text-center">{{ league.player_1 }}</th>
                <th class="text-center">{{ league.player_2 }}</th>
                <th class="text-center">{{ league.player_3 }}</th>
            </tr>
        </thead>
        <tbody>
            {% for year in year_statistic %}
                <tr>
                    <td>
                        <a href="{% url 'core.league_3p_months' league_id=league.id year=year.year.year %}">
                            {{ year.year.year }}
                        </a>
                    </td>
                    <td class="text-center">{{ year.num_results }}</td>
                    <td class="text-center">{{ year.sum_games }}</td>
                    <td class="text-center{% if year.result.0.2 == 1 %} text-bg-warning{% endif %}">
                        {{ year.result.0.1 }}
                        ({{ year.result.0.2|ordinal }})
                    </td>
                    <td class="text-center{% if year.result.1.2 == 1 %} text-bg-warning{% endif %}">
                        {{ year.result.1.1 }}
                        ({{ year.result.1.2|ordinal }})
                    </td>
                    <td class="text-center{% if year.result.2.2 == 1 %} text-bg-warning{% endif %}">
                        {{ year.result.2.1 }}
                        ({{ year.result.2.2|ordinal }})
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>&nbsp;</th>
                <th class="text-center">{{ statistic.num_results }}</th>
                <th class="text-center">{{ statistic.num_games }}</th>
                <th class="text-center{% if statistic.result.0.2 == 1 %} text-bg-warning{% endif %}">
                    {{ statistic.result.0.1 }}
                    ({{ statistic.result.0.2|ordinal }})
                </th>
                <th class="text-center{% if statistic.result.1.2 == 1 %} text-bg-warning{% endif %}">
                    {{ statistic.result.1.1 }}
                    ({{ statistic.result.1.2|ordinal }})
                </th>
                <th class="text-center{% if statistic.result.2.2 == 1 %} text-bg-warning{% endif %}">
                    {{ statistic.result.2.1 }}
                    ({{ statistic.result.2.2|ordinal }})
                </th>
            </tr>
        </tfoot>
    </table>

    <div>
      <canvas id="years_chart"></canvas>
    </div>

    {% endif %}
{% endblock %}

{% block script %}
    {% if year_statistic %}
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script>
          const ctx = document.getElementById('years_chart');

          let year_labels = [];
          let p1_data = [];
          let p2_data = [];
          let p3_data = [];
          {% for year in year_statistic %}
              year_labels.push('{{ year.year.year }}');
              p1_data.push({{ year.result.0.1 }});
              p2_data.push({{ year.result.1.1 }});
              p3_data.push({{ year.result.2.1 }});
          {% endfor %}

          new Chart(ctx, {
            type: 'bar',
            data: {
              labels: year_labels,
              datasets: [
                    {
                        label: "{{ league.player_1 }}",
                        backgroundColor: "#2c3e50",
                        data: p1_data
                    },
                    {
                        label: "{{ league.player_2 }}",
                        backgroundColor: "#3498db",
                        data: p2_data
                    },
                    {
                        label: "{{ league.player_3 }}",
                        backgroundColor: "#18bc9c",
                        data: p3_data
                    }
                ]
            },
            options: {
              barValueSpacing: 20,
                scales: {
                y: {
                  beginAtZero: true
                }
              }
            }
          });
        </script>
        {% include 'core/league_3p_overall.html' %}
    {% endif %}
{% endblock %}