{% extends "core/base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{{ year }} - {{ league.title }} - {% translate 'League of 3 Players' %}{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'core.league_3p_years' league_id=league.id %}">
        {% translate 'League of 3 Players' %}
    </a>
</li>
<li class="breadcrumb-item"><a href="{% url 'core.league_3p_years' league_id=league.id %}">
        {{ league.title }}
    </a>
</li>
<li class="breadcrumb-item active" aria-current="page">
    {{ year }}
</li>
{% endblock %}
{% block content %}
    <h1>{{ league.title }}: {{ year }}</h1>
    <p>{% translate 'League of 3 Players' %}</p>

    {% if month_statistic %}
    <h2>{% translate 'Statistic' %}</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>{% translate 'Month' %}</th>
                <th class="text-center">{% translate '# Results' %}</th>
                <th class="text-center">{% translate '# Games' %}</th>
                <th class="text-center">{{ league.player_1 }}</th>
                <th class="text-center">{{ league.player_2 }}</th>
                <th class="text-center">{{ league.player_3 }}</th>
            </tr>
        </thead>
        <tbody>
            {% for month in month_statistic %}
                <tr>
                    <td>
                            {{ month.month|date:"F" }}
                    </td>
                    <td class="text-center">{{ month.num_results }}</td>
                    <td class="text-center">{{ month.sum_games }}</td>
                    <td class="text-center{% if month.result.0.2 == 1 %} text-bg-warning{% endif %}">
                        {{ month.result.0.1 }}
                        ({{ month.result.0.2 }})
                    </td>
                    <td class="text-center{% if month.result.1.2 == 1 %} text-bg-warning{% endif %}">
                        {{ month.result.1.1 }}
                        ({{ month.result.1.2 }})
                    </td>
                    <td class="text-center{% if month.result.2.2 == 1 %} text-bg-warning{% endif %}">
                        {{ month.result.2.1 }}
                        ({{ month.result.2.2 }})
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>&nbsp;</th>
                <th class="text-center">{{ statistic.num_results }}</th>
                <th class="text-center">{{ statistic.num_games }}</th>
                <th class="text-center{% if statistic.result.0.2 == 1 %} text-bg-warning{% endif %}">
                    {{ statistic.result.0.1 }}
                    ({{ statistic.result.0.2 }})
                </th>
                <th class="text-center{% if statistic.result.1.2 == 1 %} text-bg-warning{% endif %}">
                    {{ statistic.result.1.1 }}
                    ({{ statistic.result.1.2 }})
                </th>
                <th class="text-center{% if statistic.result.2.2 == 1 %} text-bg-warning{% endif %}">
                    {{ statistic.result.2.1 }}
                    ({{ statistic.result.2.2 }})
                </th>
            </tr>
        </tfoot>
    </table>
    {% endif %}
{% endblock %}