{% extends "core/base.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% block title %}{{ month|date:"F" }} - {{ year }} - {{ league.title }} - {% translate 'League of 3 Players' %}{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'core.league_3p_years' league_id=league.id %}">
        {% translate 'League of 3 Players' %}
    </a>
</li>
<li class="breadcrumb-item"><a href="{% url 'core.league_3p_years' league_id=league.id %}">
        {{ league.title }}
    </a>
</li>
<li class="breadcrumb-item"><a href="{% url 'core.league_3p_months' league_id=league.id year=year %}">
        {{ year }}
    </a>
</li>
<li class="breadcrumb-item active" aria-current="page">
    {{ month|date:"F" }}
</li>
{% endblock %}
{% block content %}
    <h1>{{ league.title }}: {{ month|date:"F" }} {{ year }}</h1>
    <p>{% translate 'League of 3 Players' %}</p>

    <ul>
        <li>
            {% translate 'Played Games' %}: {{ statistic.num_games }}
        </li>
        <li>
            {% translate 'Results' %}: {{ statistic.num_results }}
        </li>
    </ul>

    {% translate 'Won days' as won_days %}
    {% with str_num_won=won_days %}
    {% include 'core/league_3p_players.html' %}
    {% endwith %}

    {% if day_statistic %}
    <h2 class="spacer">{% translate 'Statistic' %}</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>{% translate 'Day' %}</th>
                <th class="text-center">{% translate '# Games' %}</th>
                <th class="text-center">{{ league.player_1 }}</th>
                <th class="text-center">{{ league.player_2 }}</th>
                <th class="text-center">{{ league.player_3 }}</th>
            </tr>
        </thead>
        <tbody>
            {% for day in day_statistic %}
                <tr>
                    <td>{{ day.day|naturalday }}</td>
                    <td class="text-center">{{ day.sum_games }}</td>
                    <td class="text-center{% if day.result.0.2 == 1 %} text-bg-warning{% endif %}">
                        {{ day.result.0.1 }}
                        ({{ day.result.0.2|ordinal }})
                    </td>
                    <td class="text-center{% if day.result.1.2 == 1 %} text-bg-warning{% endif %}">
                        {{ day.result.1.1 }}
                        ({{ day.result.1.2|ordinal }})
                    </td>
                    <td class="text-center{% if day.result.2.2 == 1 %} text-bg-warning{% endif %}">
                        {{ day.result.2.1 }}
                        ({{ day.result.2.2|ordinal }})
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>&nbsp;</th>
                <th class="text-center">{{ statistic.num_games }}</th>
                <th class="text-center{% if statistic.result.0.2 == 1 %} text-bg-warning{% endif %}">
                    {{ statistic.result.0.1 }}
                    ({{ statistic.result.0.2|ordinal }})
                </th>
                <th class="text-center{% if statistic.result.1.2 == 1 %} text-bg-warning{% endif %}">
                    {{ statistic.result.1.1 }}
                    ({{ statistic.result.1.2|ordinal }})
                </th>
                <th class="text-center{% if statistic.result.2.2 == 1 %} text-bg-warning{% endif %}">
                    {{ statistic.result.2.1 }}
                    ({{ statistic.result.2.2|ordinal }})
                </th>
            </tr>
        </tfoot>
    </table>
    {% endif %}
{% endblock %}