


{% load static %}
{% load i18n %}
{% load humanize %}
<div class="row players-overview">
    {% for player in players %}
        {% with player.0.get_extended as extended %}
            <div class="col-md-3 col-print-4">
                <div class="card border-primary">
                    <img src="{{ extended.get_image }}"
                        class="card-img-top">
                    <div class="card-header text-bg-success">
                        {{ player.0 }}
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item medal">
                            {% if player.1.2 == 1 %}
                                🥇🏆
                            {% elif player.1.2 == 2 %}
                                🥈
                            {% elif player.1.2 == 3 %}
                                🥉
                            {% endif %}
                        </li>
                        <li class="list-group-item">
                            {% translate 'Rank' %}:
                            {{ player.1.2|ordinal }}
                        </li>
                        <li class="list-group-item">
                            {% translate 'Points' %}:
                            {{ player.1.1 }}
                        </li>
                        {% if player.1.4 != 0 %}
                            <li class="list-group-item">
                                {% translate 'Points behind' %}:
                                {{ player.1.4 }}
                            </li>
                        {% endif %}
                        <li class="list-group-item">
                            {{ str_num_won }}:
                            {{ player.2 }}
                        </li>
                        {% if player.4 %}
                            <li class="list-group-item">
                                {% translate 'Max. Points per Result' %}:
                                {{ player.4 }}
                            </li>
                        {% endif %}
                        <li class="list-group-item d-print-none">
                            <a href="{{ player.3 }}" target="_blank">
                                {% translate 'Print certificate' %}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        {% endwith %}
    {% endfor %}
    <div class="col-md-3 d-print-none">
        <div class="card border-primary">
            <img src="{% static 'core/images/dd.png' %}"
                class="card-img-top">
            <div class="card-header text-bg-success">
                {% translate 'Overall Points' %}
            </div>
            <div>
              <canvas id="overall_chart"></canvas>
            </div>
        </div>
    </div>
</div>

