.spacer {
    margin-top: 2rem !important;
}
.medal {
    font-size: 5rem;
    text-align: center;
}

@media print {
    .main-content {
        margin: 0 !important;
        padding: 0 !important;
        max-width: 100% !important;
    }
    table.results-table td {
        padding: 0 !important;
    }
    table.results-table th {
        padding: 0 !important;
    }
  .col-print-3 {
    flex: 0 0 25% !important;
    max-width: 25% !important; }
    .col-print-4 {
    flex: 0 0 33.33333% !important;;
    max-width: 33.33333% !important;; }
}